streamlit==1.22.0

# Read https://spacy.io/usage/models#models-download
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl

scikit-learn==1.1.1

Keras==2.9.0
tensorflow==2.9.1
