streamlit==1.11.0

# The spacy bounds given below are required to be compatable with en_core_web_sm 
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz

sklearn==1.1.1
